
@{
    ViewBag.Title = "Index";
}

<div class="container pb-5">

    <div class="row">
        <div class="col-md-12">
            <h2>Favoriler</h2>
            <hr />
        </div>
    </div>
</div>