@using Eticaret.Models;
@model IEnumerable<ProductModel>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Geleceğin Teknolojisi Bugün Elinizde!</h1>
        <p class="lead">Teknolojide Sınırları Zorlayın - Yeni Ürünler ve Büyük İndirimler</p>
        <hr class="my-4">
        <p>Ayrıca GitHub hesabımı takip etmeyi de unutmayın</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="https://github.com/CHE5T3R" role="button">Keşfet</a>
        </p>
    </div>
</div>

<div class="container pb-5">
    @Html.Partial("_ProductList", Model)
</div>


