@model Eticaret2.Models.Cart


<ul class="navbar-nav  my-2 my-lg-0">

        <li class="nav-item active">
            <a class="nav-link" href="/Cart/Index">
                <i class="fa fa-cart-plus"></i>
                (@Model.Cartlines.Count)
            </a>
        </li>

</ul> 