@model Eticaret2.Models.SummaryViewModel




<ul class="navbar-nav  my-2 my-lg-0">
    <li id="cart" class="nav-item">
        <a class="nav-link" href="/Cart/Index">
            <i class="fa fa-cart-shopping" aria-hidden="true"></i>
            (@Model.Count)
        </a>
    </li>

</ul> 